<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>angular</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/myStyle.css">
    <script src="js/angular.min.js"></script>
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/myScript.js"></script>
    <script>
        $(document).ready(function () {

            var uid = $("#tid").val();
            var url = "/prouter/getalldataP?sid=" + uid;
            $.get(url, function (datarecv) {//---------------PROVIDER PROFILE FETCH DATA--------------------------------------------------
                if (datarecv.length == 0) {
                    $('#mnl').html("Please update your profile then upload medicine").css({ 'color': 'black', "font-style": "italic" });
                }
                else {
                    //alert(JSON.stringify(datarecv));
                    $('#nl').html("Welcome &nbsp;" + datarecv[0].name).css('color', 'white');
                }
            });
            var url = "/fetchUserM?uid=" + uid;
            $.get(url, function (datarecv) {//---------------FETCH USER MEDICINE--------------------------------------------------
                if (datarecv.length == 0) 
                    $('#sm').html("NO MEDICINE FOUND");
            });
        })
    </script>
</head>

<body ng-app="module1" ng-controller="control1" ng-init="loademail();fetchUserM();">
    <!-- <input type="text" ng-model="md"> -->
    <div class="container">
        <center>
            <h2>Med Manager</h2>
        </center>
        <div class="row">
            <div class="col">
                <marquee behavior="alternate" direction=""><h5><span id="mnl"> </span></h5></marquee>
                <h5><span id="nl"> </span></h5>
            </div>
            <div class="col-md-2">
                <select class="form-select" id="sel" onchange="goP();" style="border: 1px solid; border-radius: 2px 2px 2px 2px;" aria-label="Default select example">
                    <option selected>Account</option>
                    <option value="1">Home</option>
                    <option value="3">Logout</option>
                </select>
            </div>
        </div>
        

        <div class="row mt-3">

            <div class="col-md-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" readonly
                        style="border: 1px black solid; border-radius: 1px;" placeholder="Search in table"
                        aria-label="Recipient's username" aria-describedby="button-addon2" ng-model="uid" id="tid">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" style="border: 1px black solid; border-radius: 1px;"
                        placeholder="Search in table" aria-label="Recipient's username" aria-describedby="button-addon2"
                        ng-model="google">
                </div>
            </div>
        </div>

        <table class="table table-dark table-hover">
            <tr>
                <th>Sr.no</th>
                <th>&nbsp;Medicine Name&nbsp;</th>
                <th>&nbsp;Company&nbsp;</th>
                <th>
                    <center>Expiry</center>
                </th>
                <th>
                    <center>&nbsp;Unit&nbsp;</center>
                </th>
                <th>&nbsp;Quantity&nbsp;</th>
                <th>
                    <center>&nbsp;Image&nbsp;</center>
                </th>
                <th>
                    <center>&nbsp;Date Updated&nbsp;</center>
                </th>
                <th>
                    <center>Action</center>
                </th>
                <!-- <th><center>rid</center></th> -->
            </tr>
            
            <tr ng-repeat="obj in jsonArray|filter:google">
                <td align="center">&nbsp;{{$index+1}}&nbsp;</td>
                <td>&nbsp;{{obj.medname}}&nbsp;</td>
                <td>&nbsp;{{obj.company}}&nbsp;</td>
                <td align="center">&nbsp;{{obj.expdate.substr(0,10)}}&nbsp;</td>
                <td align="center">&nbsp;{{obj.unit}}&nbsp;</td>
                <td align="center">&nbsp;{{obj.qty}}&nbsp;</td>
                <td align="center"><img src="uploads/{{obj.picname}}" width="100" height="100">&nbsp;</td>
                <td align="center">&nbsp;{{obj.doa}}&nbsp;</td>
                <td align="center">
                    <!-- &nbsp;<input class="btn" type="button" ng-show="btne"  id="ed" value="Edit form" ng-click="rid(obj.rid);">&nbsp; -->
                    &nbsp;<input class="btn" type="button" id="ed" value="Edit"
                        ng-click="frid(obj.rid);" >&nbsp;
                    &nbsp;<input class="btn" type="button" value="Remove" ng-click="delete(obj.rid);">&nbsp;
                </td>
            </tr>
        </table>
        <center><div class="row mt-5" style="background-color: brown; color: whitesmoke;"><b><span id="sm"></span></b></div></center>
    </div>

    <!--//////////////////////////////////////////////-----------MODEL-------///////////////////////////////////////////////////-->
    <div class="modal fade" width=90% tabindex="-1" id="mdl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: azure;">
                    <h5 class="modal-title" style="margin: auto;">Provider Details</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <center>
                        <p ng-repeat="obj in jsonselmed">
                        <div class="container">
                            <form class="body" method="POST" action="/updateMed" enctype="multipart/form-data">
                                <center>
                                    <h2>Medicine Update</h2>
                                </center>

                                <div class="row mt-3">
                                    <input type="text" hidden name="tr" id="tr">

                                    <div class="offset-md-1 col-md-5">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" required name="mn" id="mn"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Medicine Name</label>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" required name="mc" id="mc"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Company</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="row mt-3">

                                    <div class="offset-md-1 col-md-5">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" required name="md" id="md"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Expiry date</label>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-floating">
                                            <select class="form-select" id="ms" name="ms" required
                                                aria-label="Floating label select example">
                                                <option selected disabled value="">Select</option>
                                                <option value="Tablets">Tablets</option>
                                                <option value="Bottle">Bottle</option>
                                                <option value="Strips">Strips</option>
                                            </select>
                                            <label for="floatingSelect">Unit</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-3" style="border: 1px ;">

                                    <div class="offset-md-1 col-md-10" style="border: 1px ;">
                                        <label for="formFile" class="form-label" style="float: left;">Upload Pic</label>
                                        <input class="form-control" type="file" onchange="loadpicM(this);" name="ppic"
                                            id="ppic">
                                    </div>

                                </div>

                                <div class="row mt-3">

                                    <div class="offset-md-1 col-md-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="mq" name="mq"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Quantity</label>
                                        </div>
                                    </div>

                                    <div class="offset-md-2 col-md-3">
                                        <img src="" width="150" height="150" id="prevM" style="display: none;">
                                        <input type="text" hidden id="hidp" name="hidp">
                                    </div>

                                </div>

                                <center>
                                    <div class="row mt-3"></div>
                                    <div>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </center>
                                <div class="row mt-3"></div>
                            </form>
                        </div>
                        </p>
                </div>
            </div>
        </div>
    </div>
</body>